<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="VHA Innovation Ecosystem Team is the catalyst and driving force that enables the discovery and spread of health care innovations within the Veterans Health Administration">
  <meta name="keywords" content="VHA Diffusion of Excellence, VHA DoE">
  <title>VHA - Diffusion of Excellence</title>  

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="assets/uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <div class="site-wrapper">
      
      {% include "header.html" %}
      
        <main>

            {% include "home/masthead.html" %}

            {% include "home/doe-mission.html" %}

            {% include "home/doe-playbook.html" %} 
          
            {% include "home/programs.html" %}
        
            {% include "home/news.html" %}

            {% include "home/doe-team.html" %}
      
        </main>

      {% include "footer.html" %}

    </div>

    <script src="assets/uswds/js/uswds.min.js"></script>
    <script src="assets/js/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/functions.js"></script>

</body>
</html>