<!-- DOE Playbook - START -->
<section id="doe-playbook">
    <div class="grid-container">
        <div class="grid-row flex-justify-center mobile:padding-y-8 tablet-lg:padding-y-10 desktop-lg:padding-y-15">
            <div class="playbook-text desktop:grid-col-5  tablet-lg:grid-col-12">
                <h2 class="h1 margin-top-0 margin-bottom-5">Diffusion Playbook</h1>
                <p class="margin-top-0 margin-bottom-2">Since 2016, Diffusion has developed repeatable, inclusive frameworks that enable practices, developed by VHA frontline employees, to obtain recognition and broader impact. The Diffusion of Excellence Playbook provides these diffusion principles in a workbook format for any innovator to craft, replicate, and scale their work.</p>
                <a href="assets/documents/diffusion-playbook-2023.pdf"class="usa-button button-vha" title="Read the Diffusion Playbook">Read the Diffusion Playbook</a>
            </div>

             <div class="playbook-img grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-12 desktop:grid-col-3">
                <a href="assets/documents/diffusion-playbook-2023.pdf" title="Read the Diffusion Playbook">
                    <img src="assets/img/home/doe-cover.png" class="img-fluid radius-lg" alt="Cover of the Diffusion Playbook" />
                </a>
            </div>


        </div>
    </div>



    <div class="grid-container">
        <div class="grid-row flex-justify-center mobile:padding-top-8 mobile:padding-bottom-15 tablet:padding-y-10 desktop-lg:padding-bottom-15 desktop-lg:padding-top-0">

            <div class="playbook-img-lw grid-col-12 tablet:grid-col-12 tablet-lg-lg:grid-col-12 desktop:grid-col-3">
                <a href="https://marketplace.va.gov/" title="Visit Diffusion Marketplace"><img src="assets/img/home/row6.jpg" class="img-fluid radius-lg" alt="Cover of the Diffusion Playbook" /></a>
            </div>


            <div class="playbook-text-lw desktop:grid-col-5 tablet-lg:grid-col-12">
                <h2 class=" h1 margin-top-0 margin-bottom-0">Diffusion Marketplace</h1>
                <h3 class="h4 margin-top-0 margin-bottom-5 ">Discover VA Innovations to Adopt at Your Facility</h3>
                <p class="margin-top-0 margin-bottom-2">Diffusion Marketplace is a discovery and collaboration tool that curates VA's promising innovations, encourages their diffusion, and fosters engagement with greater health care communities. Diffusion Marketplace provides the knowledge base for innovators to improve access and care for thousands of Veterans.</p>
                <a href="https://marketplace.va.gov/"class="usa-button button-vha" title="Visit Diffusion Marketplace">Visit Diffusion Marketplace</a>
            </div>

        </div>
    </div>








</section>
<!-- DOE Playbook - END -->