<!-- DOE Mission - START -->
<section id="doe-mission">
    <div class="grid-container">
        <div class="grid-row flex-justify-center mobile:padding-y-15 tablet:padding-y-10 desktop-lg:padding-y-15">
            <div class="mission-text grid-col-12 tablet-lg:grid-col-10">
                <h1 class="margin-top-0 margin-bottom-5">Our Mission</h1>
                <p class="margin-top-0 margin-bottom-2">VHA Diffusion of Excellence's (Diffusion) mission is to identify, replicate, and scale emerging Promising Practices across VHA's nationwide health care system. We sponsor the annual VHA Shark Tank Competition and build capacity for diffusion activities through training, education, and resources delivered to the country's largest health care workforce.</p>
            </div>
        </div>
    </div>
</section>
<!-- DOE Mission - END -->