<section class="doe-programs-wrapper position-relative">
<img class="position-absolute lazy blueblur-top" src="assets/img/home/blueblur_topleft.svg" alt="top left blue blur background" />

<div class="grid-container doe-p">
    <div id="doe-programs">

        <div class="grid-col-12 text-center margin-bottom-4">
            <h2 class=" main-header margin-bottom-1 margin-top-0 mobile:padding-x-2 mobile:padding-top-10 desktop:padding-top-8 ">Diffusion of Excellence Programs</h2>
        </div>

        
        <!-- row 1 -->
        <div class="grid-row tablet-lg:margin-top-10 flex-justify-center row1 mobile:margin-x-4">
            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-6 desktop-lg:grid-col-5 mobile:margin-bottom-4">
                <a href="sharktank/"><img src="assets/img/home/row1.jpg" class="img-fluid radius-lg" alt="New Spotlight: VHA Shark Tank Competition" /></a>
            </div>
            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-5 desktop-lg:grid-col-5 widescreen:grid-col-5 tablet-lg:margin-left-3">
                <h2 class="margin-bottom-1 margin-top-0">VHA Shark Tank Competition</h2>
                <h3 class="margin-top-0 margin-bottom-2">Identifying Promising Employee-developed Innovations</h3>
                <p class="margin-top-0 margin-bottom-2">The competition shines a spotlight on passionate employees that are addressing pressing <a href="https://www.va.gov/health/priorities/index.asp"> VA Health Care Priorities</a>. VHA Shark Tank provides VA’s frontline innovators with an incredible opportunity to pitch their practice on a national stage. Then, they reel in bids with dedicated resources to replicate the practice at another VA facility. The VHA Shark Tank marquee event is held live at VHA Office of Healthcare Innovation and Learning’s annual event, VHA Innovation Experience.</p>

                <a href="sharktank/" class="usa-button button-vha" title="See VHA Shark Tank Competition" aria-label="See VHA Shark Tank Competition">See VHA Shark Tank Competition</a>
                
            </div>
        </div>
        <!-- /row 1 -->
    
        <!-- row 2 -->
        <div class="grid-row flex-justify-center row4 desktop:margin-top-8 mobile:margin-top-15 mobile:margin-x-4">
            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-5 desktop-lg:grid-col-5 widescreen:grid-col-5 tablet-lg:margin-right-3 order-2 tablet-lg:order-1">
                <h2 class="margin-bottom-1 margin-top-0">Diffusion Talent Accelerator</h2>
                <h3 class="margin-top-0 margin-bottom-2">Embedding a Diffusion Culture Within VHA</h3>
                <p class="margin-top-0 margin-bottom-2">Diffusion Talent Accelerator is a new offering by VHA Innovation Ecosystem that enables VISNs and National Program Offices to build and sustain a culture of learning by strengthening their ability to replicate and scale innovations. Participants receive training through face-to-face and virtual offerings that include human centered design, storytelling, facilitation, defining compelling metrics, and more.</p>

                <a href="diffusion-talent-accelerator/" class="usa-button button-vha" title="View the Diffusion Talent Accelerator" aria-label="View the Diffusion Talent Accelerator">View the Diffusion Talent Accelerator</a>

            </div>
    

            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-6 desktop-lg:grid-col-5 mobile:margin-bottom-4 order-1 tablet-lg:order-2">
                <a href="diffusion-talent-accelerator/"><img src="assets/img/home/row5.jpg" class="img-fluid radius-lg" alt="Diffusion Talent Accelerator" /></a>
            </div>

        </div>
        <!-- /row 2 -->

        <!-- row 3 -->

        <div class="grid-row flex-justify-center row4 desktop:padding-bottom-10 tablet:padding-bottom-4  tablet:margin-top-15 mobile:margin-x-4 desktop:margin-top-8 mobile:margin-top-15">

            <div class="grid-col-12 text-center margin-bottom-4">
                <h2 class="margin-bottom-1 margin-top-0">Diffusion Academy</h2>
            </div>
            <div class="grid-col-12 text-center margin-bottom-4 mobile:margin-x-4">
                <img src="assets/img/home/row4.jpg" class="img-fluid radius-lg" alt="Diffusion Academy" />
            </div>

            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-6 desktop-lg:grid-col-5 widescreen:grid-col-5 tablet-lg:margin-right-3 order-2 tablet-lg:order-1 track">
        
                <h3 class="margin-bottom-1">Scale Track</h3>
                <h4 class="margin-top-0 margin-bottom-2 doe-h4">Improving the Scalability and Sustainability of VA's Promising Innovations</h4>
                <p class="margin-top-0 margin-bottom-2">Diffusion Academy’s Scale Track brings experienced innovators from across VHA's enterprise together to network, collaborate, and build a business case to further sustain and scale their innovations. Innovators receive training through expert panels and presentations to find resourcing opportunities, garner national stakeholder buy-in, and develop communication strategies.</p>

                <div class="vha-video margin-bottom-4">
                    <a href="https://www.youtube.com/watch?v=SGb5YHL3fNs" class="vha-video__play vha-video__play-action stretched-link usa-button button-vha" title="Diffusion Academy 2023 Highlight Video" aria-label="Watch 2023 Highlight Video">
                        Watch 2023 Highlight Video
                    </a>
                </div>

            </div>


            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-6 desktop-lg:grid-col-5 widescreen:grid-col-5 tablet-lg:margin-right-3 order-2 tablet-lg:order-1">
    
                <h3 class="margin-bottom-1">Replicate Track</h3>
                <h4 class="margin-top-0 margin-bottom-2 doe-h4">Preparing Promising Practices for Replication</h4>
                <p class="margin-top-0 margin-bottom-2">Diffusion Academy’s Replicate Track brings VHA Shark Tank winners and their selected VHA facilities together to develop implementation plans. The event provides training on project and change management principles to ensure implementation success. The newly formed implementation teams walk away with actionable plans for the new VHA facilities.</p>

                <div class="vha-video">
                    <a href="https://www.youtube.com/watch?v=5kJl1xdaVCA" class="vha-video__play vha-video__play-action stretched-link usa-button button-vha" title="Diffusion Academy 2023 Highlight Video" aria-label="Watch 2023 Highlight Video">
                        Watch 2023 Highlight Video
                    </a>
                </div>

            </div>

        </div>

        <!-- /row 3 -->


        <!-- row 4 -->
        <div class="grid-row flex-justify-center row4 desktop:padding-bottom-10 tablet:padding-bottom-4  tablet:margin-top-15 mobile:margin-x-4 desktop:margin-top-0 mobile:margin-top-15">
            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-5 desktop-lg:grid-col-5 widescreen:grid-col-5 tablet-lg:margin-right-3 order-2 tablet-lg:order-1">
                <h2 class="margin-bottom-1 margin-top-0">National Diffusion Practices</h2>
                <h3 class="margin-top-0 margin-bottom-2">Scaling Promising Practices Across the Enterprise</h3>
                <p class="margin-top-0 margin-bottom-2">Diffusion implements select Promising Practices with demonstrated impact, replicability, stakeholder support, and cost-effectiveness. A Diffusion Specialist from Diffusion of Excellence is assigned to each practice to promote the national implementation efforts.</p>

                <a href="national-diffusion-practices/" class="usa-button button-vha desktop:margin-bottom-0 mobile:margin-bottom-8" title="View National Diffusion Practices" aria-label="View National Diffusion Practices">View National Diffusion Practices</a>

            </div>

            <div class="grid-col-12 tablet:grid-col-12 tablet-lg:grid-col-6 desktop-lg:grid-col-5 mobile:margin-bottom-4 order-1 tablet-lg:order-2">
                <a href="national-diffusion-practices/"><img src="assets/img/home/row3.jpg" class="img-fluid radius-lg" alt="National Diffusion Practices" /></a>
            </div>

        </div>
        <!-- /row 4 -->

    </div>    
</div>

<img class="position-absolute lazy blueblur-bottom" src="assets/img/home/blueblur_bottomright.svg" alt="bottom right blue blur background" />
</section>
